.elementor-61 .elementor-element.elementor-element-e701f6a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0 0;
}
.elementor-61 .elementor-element.elementor-element-e701f6a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-61 .elementor-element.elementor-element-1d4c85e > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-61 .elementor-element.elementor-element-7abd273 {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-61 .elementor-element.elementor-element-74abb3a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-74abb3a > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}
.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}
.elementor-61 .elementor-element.elementor-element-448437d {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-61 .elementor-element.elementor-element-448437d .elementor-divider-separator {
    width: 100%;
}
.elementor-61 .elementor-element.elementor-element-448437d .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-61 .elementor-element.elementor-element-532eed6:hover,
.elementor-61 .elementor-element.elementor-element-532eed6:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-6dbb523 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-6dbb523:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-6dbb523:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-6dbb523:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-6dbb523 > .elementor-element-populated {
    margin: 1px 15px 15px 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-4c15991 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-f9cd872 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-b9a236a:hover,
.elementor-61 .elementor-element.elementor-element-b9a236a:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-a38bc0e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-a38bc0e:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-a38bc0e:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-a38bc0e:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-a38bc0e > .elementor-element-populated {
    margin: 0 15px 15px 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-062240c .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-9ae2447 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-3666da3:hover,
.elementor-61 .elementor-element.elementor-element-3666da3:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-1e593ca > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-1e593ca:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-1e593ca:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-1e593ca:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-1e593ca > .elementor-element-populated {
    margin: 0 15px 15px 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-ca679ec .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-7fff317 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-70986d5:hover,
.elementor-61 .elementor-element.elementor-element-70986d5:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-bab62e7 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-bab62e7:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-bab62e7:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-bab62e7:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-bab62e7 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-98730a6 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-16d5478 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-e797835:hover,
.elementor-61 .elementor-element.elementor-element-e797835:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-1cca039 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-1cca039:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-1cca039:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-1cca039:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-1cca039 > .elementor-element-populated {
    margin: 0 15px 15px 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-8bfffd4 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-863b671 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-22d22a5 > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-61 .elementor-element.elementor-element-dab17ad {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-61 .elementor-element.elementor-element-81b0aa4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-81b0aa4 > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-61 .elementor-element.elementor-element-14b6125 .elementor-heading-title {
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-2f13490 {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-61 .elementor-element.elementor-element-2f13490 .elementor-divider-separator {
    width: 100%;
}
.elementor-61 .elementor-element.elementor-element-2f13490 .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-61 .elementor-element.elementor-element-d00ae8c:hover,
.elementor-61 .elementor-element.elementor-element-d00ae8c:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-79f0589 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-79f0589:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-79f0589:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-79f0589:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-79f0589 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-0b8d4ad .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-5debec0 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-3e0eec9:hover,
.elementor-61 .elementor-element.elementor-element-3e0eec9:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-e3684f9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-e3684f9:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-e3684f9:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-e3684f9:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-e3684f9 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-dd562c9 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-b09a686 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-a1ba24f:hover,
.elementor-61 .elementor-element.elementor-element-a1ba24f:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-c31e4c8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-c31e4c8:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-c31e4c8:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-c31e4c8:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-c31e4c8 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-9e7fedd .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-10bc90a .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-6120c82:hover,
.elementor-61 .elementor-element.elementor-element-6120c82:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-b854377 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-b854377:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-b854377:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-b854377:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-b854377 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-b264ddf .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-b830817 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-154ce77:hover,
.elementor-61 .elementor-element.elementor-element-154ce77:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-fc43561 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-fc43561:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-fc43561:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-fc43561:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-fc43561 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-f9aea22 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-32e60a6 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-25380a1 > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-61 .elementor-element.elementor-element-4260ba7 {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-61 .elementor-element.elementor-element-119f2a5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-119f2a5 > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-61 .elementor-element.elementor-element-33594f2 {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-61 .elementor-element.elementor-element-33594f2 .elementor-divider-separator {
    width: 100%;
}
.elementor-61 .elementor-element.elementor-element-33594f2 .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-61 .elementor-element.elementor-element-76da6ff:hover,
.elementor-61 .elementor-element.elementor-element-76da6ff:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-e8356f8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-e8356f8:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-e8356f8:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-e8356f8:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-e8356f8 > .elementor-element-populated {
    margin: 1px 15px 15px 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-61762ff .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-e55f8cd .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-61 .elementor-element.elementor-element-d83b85c:hover,
.elementor-61 .elementor-element.elementor-element-d83b85c:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-44b58aa > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-61 .elementor-element.elementor-element-44b58aa:hover > .elementor-element-populated,
.elementor-61 .elementor-element.elementor-element-44b58aa:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-61 .elementor-element.elementor-element-44b58aa:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-61 .elementor-element.elementor-element-44b58aa > .elementor-element-populated {
    margin: 1px 15px 15px 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-61 .elementor-element.elementor-element-6efd1be .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-61 .elementor-element.elementor-element-f89be3a .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
@media(max-width:1024px) {
    .elementor-61 .elementor-element.elementor-element-74abb3a > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-61 .elementor-element.elementor-element-532eed6 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-6dbb523 > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-b9a236a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-a38bc0e > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-3666da3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-1e593ca > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-70986d5 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-bab62e7 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-e797835 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-1cca039 > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-81b0aa4 > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-61 .elementor-element.elementor-element-d00ae8c {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-79f0589 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-3e0eec9 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-e3684f9 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-a1ba24f {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-c31e4c8 > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-6120c82 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-b854377 > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-154ce77 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-fc43561 > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-25380a1 > .elementor-element-populated {
        padding: 15px 5px 0 0;
    }
    .elementor-61 .elementor-element.elementor-element-119f2a5 > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-61 .elementor-element.elementor-element-76da6ff {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-e8356f8 > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
    .elementor-61 .elementor-element.elementor-element-d83b85c {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-44b58aa > .elementor-element-populated {
        margin: 0 10px 15px 0;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0;
    }
}
@media(min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-1d4c85e {
        width: 34%;
    }
    .elementor-61 .elementor-element.elementor-element-22d22a5 {
        width: 33%;
    }
    .elementor-61 .elementor-element.elementor-element-25380a1 {
        width: 33%;
    }
}
@media(max-width:1024px) and(min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-1d4c85e {
        width: 40%;
    }
}
@media(max-width:767px) {
    .elementor-61 .elementor-element.elementor-element-e701f6a {
        padding: 20px 0;
    }
    .elementor-61 .elementor-element.elementor-element-1d4c85e {
        width: 100%;
    }
    .elementor-61 .elementor-element.elementor-element-7abd273 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-74abb3a > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-61 .elementor-element.elementor-element-532eed6 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-6dbb523 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-b9a236a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-a38bc0e > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-3666da3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-1e593ca > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-70986d5 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-bab62e7 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-e797835 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-1cca039 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-22d22a5 {
        width: 100%;
    }
    .elementor-61 .elementor-element.elementor-element-dab17ad {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-81b0aa4 > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-61 .elementor-element.elementor-element-d00ae8c {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-79f0589 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-3e0eec9 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-e3684f9 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-a1ba24f {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-c31e4c8 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-6120c82 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-b854377 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-154ce77 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-fc43561 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-25380a1 {
        width: 100%;
    }
    .elementor-61 .elementor-element.elementor-element-4260ba7 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-119f2a5 > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-61 .elementor-element.elementor-element-76da6ff {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-e8356f8 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-d83b85c {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-61 .elementor-element.elementor-element-44b58aa > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
}