.elementor-66 .elementor-element.elementor-element-4c41d62 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0 0;
}
.elementor-66 .elementor-element.elementor-element-4c41d62 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66 .elementor-element.elementor-element-307c281 > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-66 .elementor-element.elementor-element-3d2a7d9 {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-66 .elementor-element.elementor-element-f876115 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-f876115 > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-66 .elementor-element.elementor-element-ed18df1 .elementor-heading-title {
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}
.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}
.elementor-66 .elementor-element.elementor-element-24dcc7e {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-66 .elementor-element.elementor-element-24dcc7e .elementor-divider-separator {
    width: 100%;
}
.elementor-66 .elementor-element.elementor-element-24dcc7e .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-66 .elementor-element.elementor-element-4bea6f6:hover,
.elementor-66 .elementor-element.elementor-element-4bea6f6:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-5b36ab7 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-5b36ab7:hover > .elementor-element-populated,
.elementor-66 .elementor-element.elementor-element-5b36ab7:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-5b36ab7:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-66 .elementor-element.elementor-element-5b36ab7 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-66 .elementor-element.elementor-element-cb02595 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-66 .elementor-element.elementor-element-353cf7a .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-66 .elementor-element.elementor-element-24274c9:hover,
.elementor-66 .elementor-element.elementor-element-24274c9:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-19329a2 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-19329a2:hover > .elementor-element-populated,
.elementor-66 .elementor-element.elementor-element-19329a2:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-19329a2:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-66 .elementor-element.elementor-element-19329a2 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-66 .elementor-element.elementor-element-fc101f8 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-66 .elementor-element.elementor-element-950bd8e .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-66 .elementor-element.elementor-element-e9aa67b > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-66 .elementor-element.elementor-element-281f099 {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-66 .elementor-element.elementor-element-16875a8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-16875a8 > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-66 .elementor-element.elementor-element-7f125e5 {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-66 .elementor-element.elementor-element-7f125e5 .elementor-divider-separator {
    width: 100%;
}
.elementor-66 .elementor-element.elementor-element-7f125e5 .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-66 .elementor-element.elementor-element-d6cfd69:hover,
.elementor-66 .elementor-element.elementor-element-d6cfd69:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-839465b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-839465b:hover > .elementor-element-populated,
.elementor-66 .elementor-element.elementor-element-839465b:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-839465b:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-66 .elementor-element.elementor-element-839465b > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-66 .elementor-element.elementor-element-5c4e850 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-66 .elementor-element.elementor-element-379ed77 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-66 .elementor-element.elementor-element-8b0b7c1:hover,
.elementor-66 .elementor-element.elementor-element-8b0b7c1:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-694c5bd > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-694c5bd:hover > .elementor-element-populated,
.elementor-66 .elementor-element.elementor-element-694c5bd:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-694c5bd:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-66 .elementor-element.elementor-element-694c5bd > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-66 .elementor-element.elementor-element-19077df .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-66 .elementor-element.elementor-element-b381c58 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-66 .elementor-element.elementor-element-f6b261a > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-66 .elementor-element.elementor-element-61f314a {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-66 .elementor-element.elementor-element-543a550 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-543a550 > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-66 .elementor-element.elementor-element-a63ef1c {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-66 .elementor-element.elementor-element-a63ef1c .elementor-divider-separator {
    width: 100%;
}
.elementor-66 .elementor-element.elementor-element-a63ef1c .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-66 .elementor-element.elementor-element-1bbec83:hover,
.elementor-66 .elementor-element.elementor-element-1bbec83:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-d2cab16 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-d2cab16:hover > .elementor-element-populated,
.elementor-66 .elementor-element.elementor-element-d2cab16:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-d2cab16:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-66 .elementor-element.elementor-element-d2cab16 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-66 .elementor-element.elementor-element-edbec7d .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-66 .elementor-element.elementor-element-ca14a12 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-66 .elementor-element.elementor-element-e683419:hover,
.elementor-66 .elementor-element.elementor-element-e683419:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-da07907 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-66 .elementor-element.elementor-element-da07907:hover > .elementor-element-populated,
.elementor-66 .elementor-element.elementor-element-da07907:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-66 .elementor-element.elementor-element-da07907:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-66 .elementor-element.elementor-element-da07907 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-66 .elementor-element.elementor-element-82395d5 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-66 .elementor-element.elementor-element-6d8b4a0 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-nav-toggle.mobile-toggle {
    justify-content: flex-end;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu-content .nav li a {
    text-align: flex-start;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li {
    padding: 5px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li > a {
    padding: 10px 5px !important;
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-navigation-inner.main-menu-indicator-style-2 .plus-navigation-menu .navbar-nav > li.dropdown > a:before {
    right: calc(5px + 3px);
}
[dir="rtl"] .elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-navigation-inner.main-menu-indicator-style-2 .plus-navigation-menu .navbar-nav > li.dropdown > a:before {
    left: calc(5px + 3px);
    right: auto;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-navigation-inner.main-menu-indicator-style-1 .plus-navigation-menu.menu-vertical-side .navbar-nav>li.dropdown>a:after {
    right: calc(5px + 3px);
}
[dir="rtl"] .elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-navigation-inner.main-menu-indicator-style-1 .plus-navigation-menu.menu-vertical-side .navbar-nav>li.dropdown>a:after {
    left: calc(5px + 3px);
    right: auto;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-navigation-inner .navbar-nav>li.menu-item.menu-item-has-children:hover a:before {
    content: "";
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li > a > .plus-nav-icon-menu {
    color: #313131;
    font-size: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li > a > .plus-nav-icon-menu.icon-img {
    max-width: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li:hover > a {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li:hover > a > .plus-nav-icon-menu {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li.active > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li:focus > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li.current_page_item > a {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li.active > a > .plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li:focus > a>.plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav > li.current_page_item > a > .plus-nav-icon-menu {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu {
    padding: 0 !important;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu .dropdown-menu {
    left: calc(100% + 0px);
}
[dir="rtl"] .elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu .dropdown-menu {
    right: calc(100% + 0px);
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu:not(.menu-vertical) .nav li.dropdown:not(.plus-fw) .dropdown-menu > li,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu.menu-vertical .nav li.dropdown:not(.plus-fw) .dropdown-menu > li a {
    padding: 10px 15px !important;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu > li > a {
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu > li > a > .plus-nav-icon-menu {
    color: #313131;
    font-size: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu > li > a > .plus-nav-icon-menu.icon-img {
    max-width: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu > li:hover > a {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav li.dropdown .dropdown-menu > li:hover > a > .plus-nav-icon-menu {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav li.dropdown .dropdown-menu > li.active > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav li.dropdown .dropdown-menu > li:focus > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav li.dropdown .dropdown-menu > li.current_page_item > a {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav li.dropdown .dropdown-menu > li.active > a > .plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav li.dropdown .dropdown-menu > li:focus > a>.plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .navbar-nav li.dropdown .dropdown-menu > li.current_page_item > a > .plus-nav-icon-menu {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .nav > li {
    vertical-align: middle;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu ul.toggle-lines li.toggle-line,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-2 .mobile-plus-toggle-menu-st2,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-2 .mobile-plus-toggle-menu-st2::before,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-2 .mobile-plus-toggle-menu-st2::after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-3 .mobile-plus-toggle-menu-st3,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-3 .mobile-plus-toggle-menu-st3::before,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-3 .mobile-plus-toggle-menu-st3::after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-4 span {
    background: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-5.clin.plus-collapsed i {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-5.clin.plus-collapsed svg {
    fill: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu:not(.plus-collapsed) ul.toggle-lines li.toggle-line,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-2 .mobile-plus-toggle-menu-st2-h,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-2 .mobile-plus-toggle-menu-st2-h::before,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-2 .mobile-plus-toggle-menu-st2-h::after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu:not(.plus-collapsed).toggle-style-3 .mobile-plus-toggle-menu-st3:before,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu:not(.plus-collapsed).toggle-style-3 .mobile-plus-toggle-menu-st3:after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-4:not(.plus-collapsed) span:nth-last-child(3),
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-4:not(.plus-collapsed) span:nth-last-child(1) {
    background: #ff5a6e !important;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-5.clin i {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .mobile-plus-toggle-menu.toggle-style-5.clin svg {
    fill: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li > a {
    padding: 10px !important;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li.plus-dropdown-container.plus-fw > a.dropdown-toggle {
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li > a > .plus-nav-icon-menu {
    color: #313131;
    font-size: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li > a > .plus-nav-icon-menu.icon-img {
    max-width: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li.dropdown > a:after {
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li.active > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li:focus > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li.current_page_item > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .plus-mobile-menu-content .navbar-nav>li.plus-fw.open>a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav>li.open>a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li.plus-dropdown-container.plus-fw.open > a {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li.active > a > .plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li:focus > a>.plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .navbar-nav > li.current_page_item > a > .plus-nav-icon-menu {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li.dropdown.active > a:after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li.dropdown:focus > a:after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav > li.dropdown.current_page_item > a:after {
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .nav li.dropdown .dropdown-menu > li > a {
    padding: 10px 10px 10px 15px !important;
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .nav li.dropdown .dropdown-menu > li > a > .plus-nav-icon-menu {
    color: #313131;
    font-size: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .nav li.dropdown .dropdown-menu > li > a > .plus-nav-icon-menu.icon-img {
    max-width: 15px;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .nav li.dropdown .dropdown-menu > li > a:after {
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav li.dropdown .dropdown-menu > li.active > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav li.dropdown .dropdown-menu > li:focus > a,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav li.dropdown .dropdown-menu > li.current_page_item > a {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav li.dropdown .dropdown-menu > li.active > a > .plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav li.dropdown .dropdown-menu > li:focus > a >.plus-nav-icon-menu,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav li.dropdown .dropdown-menu > li.current_page_item > a > .plus-nav-icon-menu {
    color: #ff5a6e;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav ul.dropdown-menu > li.dropdown-submenu.active > a:after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav ul.dropdown-menu > li.dropdown-submenu:focus > a:after,
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-wrap .plus-mobile-menu .navbar-nav ul.dropdown-menu > li.dropdown-submenu.current_page_item > a:after {
    color: #313131;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .plus-nav-label-text {
    right: -12px;
    top: -5px;
}
[dir="rtl"] .elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .plus-nav-label-text {
    left: -12px;
    right: auto;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .dropdown-menu .plus-nav-label-text {
    right: -12px;
    top: -5px;
}
[dir="rtl"] .elementor-66 .elementor-element.elementor-element-b30fcfb .plus-navigation-menu .dropdown-menu .plus-nav-label-text {
    left: -12px;
    right: auto;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .plus-nav-label-text {
    right: 45px;
    top: 50%;
}
[dir="rtl"] .elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .plus-nav-label-text {
    left: 45px;
    right: auto;
}
.elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .dropdown-menu .plus-nav-label-text {
    right: 45px;
    top: 50%;
}
[dir="rtl"] .elementor-66 .elementor-element.elementor-element-b30fcfb .plus-mobile-menu .dropdown-menu .plus-nav-label-text {
    left: 45px;
    right: auto;
}
@media(max-width:1024px) {
    .elementor-66 .elementor-element.elementor-element-f876115 > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-66 .elementor-element.elementor-element-4bea6f6 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-5b36ab7 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-66 .elementor-element.elementor-element-24274c9 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-19329a2 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-66 .elementor-element.elementor-element-16875a8 > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-66 .elementor-element.elementor-element-d6cfd69 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-839465b > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-66 .elementor-element.elementor-element-8b0b7c1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-694c5bd > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-66 .elementor-element.elementor-element-f6b261a > .elementor-element-populated {
        padding: 15px 5px 0 0;
    }
    .elementor-66 .elementor-element.elementor-element-543a550 > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-66 .elementor-element.elementor-element-1bbec83 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-d2cab16 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-66 .elementor-element.elementor-element-e683419 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-da07907 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
}
@media(max-width:767px) {
    .elementor-66 .elementor-element.elementor-element-4c41d62 {
        padding: 20px 0;
    }
    .elementor-66 .elementor-element.elementor-element-3d2a7d9 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-f876115 > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-66 .elementor-element.elementor-element-4bea6f6 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-5b36ab7 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-66 .elementor-element.elementor-element-24274c9 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-19329a2 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-66 .elementor-element.elementor-element-281f099 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-16875a8 > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-66 .elementor-element.elementor-element-d6cfd69 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-839465b > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-66 .elementor-element.elementor-element-8b0b7c1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-694c5bd > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-66 .elementor-element.elementor-element-61f314a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-543a550 > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-66 .elementor-element.elementor-element-1bbec83 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-d2cab16 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-66 .elementor-element.elementor-element-e683419 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-66 .elementor-element.elementor-element-da07907 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
}