.elementor-64 .elementor-element.elementor-element-ffa98d5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0 0;
}
.elementor-64 .elementor-element.elementor-element-ffa98d5 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-64 .elementor-element.elementor-element-53df5f3 > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-64 .elementor-element.elementor-element-5846a81 {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-64 .elementor-element.elementor-element-e367eba > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-e367eba > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-64 .elementor-element.elementor-element-b7b1c99 .elementor-heading-title {
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}
.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}
.elementor-64 .elementor-element.elementor-element-036d0b6 {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-64 .elementor-element.elementor-element-036d0b6 .elementor-divider-separator {
    width: 100%;
}
.elementor-64 .elementor-element.elementor-element-036d0b6 .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-64 .elementor-element.elementor-element-09b66f7 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-09b66f7:hover > .elementor-element-populated,
.elementor-64 .elementor-element.elementor-element-09b66f7:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-64 .elementor-element.elementor-element-09b66f7:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-64 .elementor-element.elementor-element-09b66f7 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-64 .elementor-element.elementor-element-b483214 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-64 .elementor-element.elementor-element-6cee5fc .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-64 .elementor-element.elementor-element-38f2678 {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
}
.elementor-64 .elementor-element.elementor-element-4b02ce6 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-4b02ce6:hover > .elementor-element-populated,
.elementor-64 .elementor-element.elementor-element-4b02ce6:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-64 .elementor-element.elementor-element-4b02ce6:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-64 .elementor-element.elementor-element-4b02ce6 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-64 .elementor-element.elementor-element-951e311 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-64 .elementor-element.elementor-element-8291397 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-64 .elementor-element.elementor-element-779e7d7 > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-64 .elementor-element.elementor-element-27374ea {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-64 .elementor-element.elementor-element-e79f3b3 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-e79f3b3 > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-64 .elementor-element.elementor-element-d0db39e {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-64 .elementor-element.elementor-element-d0db39e .elementor-divider-separator {
    width: 100%;
}
.elementor-64 .elementor-element.elementor-element-d0db39e .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-64 .elementor-element.elementor-element-9b502eb > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-9b502eb:hover > .elementor-element-populated,
.elementor-64 .elementor-element.elementor-element-9b502eb:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-64 .elementor-element.elementor-element-9b502eb:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-64 .elementor-element.elementor-element-9b502eb > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-64 .elementor-element.elementor-element-8b6f9fc .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-64 .elementor-element.elementor-element-8da9363 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-64 .elementor-element.elementor-element-b1beff3 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-b1beff3:hover > .elementor-element-populated,
.elementor-64 .elementor-element.elementor-element-b1beff3:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-64 .elementor-element.elementor-element-b1beff3:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-64 .elementor-element.elementor-element-b1beff3 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-64 .elementor-element.elementor-element-ee24d8a .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-64 .elementor-element.elementor-element-db50d36 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-64 .elementor-element.elementor-element-45c6f3a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-45c6f3a:hover > .elementor-element-populated,
.elementor-64 .elementor-element.elementor-element-45c6f3a:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-64 .elementor-element.elementor-element-45c6f3a:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-64 .elementor-element.elementor-element-45c6f3a > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-64 .elementor-element.elementor-element-96b9a3b .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 600;
}
.elementor-64 .elementor-element.elementor-element-9cf270e .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-64 .elementor-element.elementor-element-7108641 > .elementor-element-populated {
    padding: 15px 0;
}
.elementor-64 .elementor-element.elementor-element-4111196 {
    margin-top: 0;
    margin-bottom: 15px;
}
.elementor-64 .elementor-element.elementor-element-c82f5ad > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-c82f5ad > .elementor-element-populated {
    padding: 0 0 0 10px;
}
.elementor-64 .elementor-element.elementor-element-880865e {
    --divider-border-style: solid;
    --divider-color: #DDDDDD;
    --divider-border-width: 1px;
}
.elementor-64 .elementor-element.elementor-element-880865e .elementor-divider-separator {
    width: 100%;
}
.elementor-64 .elementor-element.elementor-element-880865e .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}
.elementor-64 .elementor-element.elementor-element-f21bc8a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-f21bc8a:hover > .elementor-element-populated,
.elementor-64 .elementor-element.elementor-element-f21bc8a:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-64 .elementor-element.elementor-element-f21bc8a:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-64 .elementor-element.elementor-element-f21bc8a > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-64 .elementor-element.elementor-element-2b69650 .elementor-heading-title {
    color: #D93A49;
}
.elementor-64 .elementor-element.elementor-element-7119f89 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
.elementor-64 .elementor-element.elementor-element-1b77f46 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.elementor-64 .elementor-element.elementor-element-1b77f46:hover > .elementor-element-populated,
.elementor-64 .elementor-element.elementor-element-1b77f46:hover > .elementor-element-populated > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}
.elementor-64 .elementor-element.elementor-element-1b77f46:hover > .elementor-element-populated {
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.15);
}
.elementor-64 .elementor-element.elementor-element-1b77f46 > .elementor-element-populated {
    margin: 0 50px 15px 0;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0;
    padding: 15px 15px 10px 10px;
}
.elementor-64 .elementor-element.elementor-element-9fe09aa .elementor-heading-title {
    color: #D93A49;
}
.elementor-64 .elementor-element.elementor-element-76d21fe .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "freight-sans-pro", Sans-serif;
    font-weight: 300;
}
@media(max-width:1024px) {
    .elementor-64 .elementor-element.elementor-element-e367eba > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-64 .elementor-element.elementor-element-569165f {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-09b66f7 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-64 .elementor-element.elementor-element-38f2678 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-4b02ce6 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-64 .elementor-element.elementor-element-e79f3b3 > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-64 .elementor-element.elementor-element-734d46a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-9b502eb > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-64 .elementor-element.elementor-element-57dfa11 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-b1beff3 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-64 .elementor-element.elementor-element-45744ae {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-45c6f3a > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-64 .elementor-element.elementor-element-7108641 > .elementor-element-populated {
        padding: 15px 5px 0 0;
    }
    .elementor-64 .elementor-element.elementor-element-c82f5ad > .elementor-element-populated {
        padding: 0 10px;
    }
    .elementor-64 .elementor-element.elementor-element-6ed6575 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-f21bc8a > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
    .elementor-64 .elementor-element.elementor-element-486ec3c {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-1b77f46 > .elementor-element-populated {
        margin: 0 30px 15px 0;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0;
    }
}
@media(max-width:767px) {
    .elementor-64 .elementor-element.elementor-element-ffa98d5 {
        padding: 20px 0;
    }
    .elementor-64 .elementor-element.elementor-element-5846a81 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-e367eba > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-64 .elementor-element.elementor-element-569165f {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-09b66f7 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-64 .elementor-element.elementor-element-38f2678 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-4b02ce6 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-64 .elementor-element.elementor-element-27374ea {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-e79f3b3 > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-64 .elementor-element.elementor-element-9b502eb > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-64 .elementor-element.elementor-element-b1beff3 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-64 .elementor-element.elementor-element-45c6f3a > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-64 .elementor-element.elementor-element-4111196 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-c82f5ad > .elementor-element-populated {
        padding: 5px 15px;
    }
    .elementor-64 .elementor-element.elementor-element-6ed6575 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-f21bc8a > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
    .elementor-64 .elementor-element.elementor-element-486ec3c {
        margin-top: 0;
        margin-bottom: 0;
    }
    .elementor-64 .elementor-element.elementor-element-1b77f46 > .elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0;
        --e-column-margin-left: 0;
        padding: 15px;
    }
}