---

---

<footer data-elementor-type="footer" data-elementor-id="304" class="elementor elementor-304 elementor-location-footer" data-elementor-post-type="elementor_library">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-1046a763 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1046a763" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5f5ed3fe" data-id="5f5ed3fe" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-418f2800 elementor-widget elementor-widget-heading" data-id="418f2800" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">
								<a href="branch.html">Need help? Need to find a branch near you?</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-cafdb58 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cafdb58" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-no">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-572a3da0" data-id="572a3da0" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-171c4fbb elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="171c4fbb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;arrow&quot;}">
						<div class="elementor-shape elementor-shape-top" data-negative="false">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 700 10" preserveaspectratio="none">
								<path class="elementor-shape-fill" d="M350,10L340,0h20L350,10z"/>
							</svg>
						</div>
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-3a6096a3" data-id="3a6096a3" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-66675e6 elementor-widget elementor-widget-image" data-id="66675e6" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img width="640" height="881" src="/wp-content/uploads/2021/09/We-Love-Pets-White-House-744x1024.png" class="attachment-large size-large wp-image-115" alt="White We Love Pets Logo Icon" srcset="/wp-content/uploads/2021/09/We-Love-Pets-White-House-744x1024.png 744w, /wp-content/uploads/2021/09/We-Love-Pets-White-House-600x826.png 600w, /wp-content/uploads/2021/09/We-Love-Pets-White-House-218x300.png 218w, /wp-content/uploads/2021/09/We-Love-Pets-White-House-768x1057.png 768w, /wp-content/uploads/2021/09/We-Love-Pets-White-House-624x859.png 624w, /wp-content/uploads/2021/09/We-Love-Pets-White-House.png 1078w" sizes="(max-width: 640px) 100vw, 640px"/>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-438a96a2" data-id="438a96a2" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-7f652975 elementor-widget elementor-widget-heading" data-id="7f652975" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Get Started</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-3d654ab3 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3d654ab3" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<ul class="elementor-icon-list-items">
												<li class="elementor-icon-list-item">
													<a href="branch.html">

														<span class="elementor-icon-list-text">Find a branch</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="services.html">

														<span class="elementor-icon-list-text">Services</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="https://novabright.io" target="_blank">

														<span class="elementor-icon-list-text">Courses</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-476af590" data-id="476af590" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-30dd4488 elementor-widget elementor-widget-heading" data-id="30dd4488" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Buy a franchise</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-1cb2fc5a elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1cb2fc5a" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<ul class="elementor-icon-list-items">
												<li class="elementor-icon-list-item">
													<a href="franchise/index.html">

														<span class="elementor-icon-list-text">Our business</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="franchise/our-franchisee-support/index.html">

														<span class="elementor-icon-list-text">The package</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="franchise/our-franchisee-support/index.html">

														<span class="elementor-icon-list-text">Our support</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="franchise/our-franchisees/index.html">

														<span class="elementor-icon-list-text">Our franchisees</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="franchise/buying-a-franchise-faqs/index.html">

														<span class="elementor-icon-list-text">FAQ's</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-68c7ef71" data-id="68c7ef71" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-3c454e14 elementor-widget elementor-widget-heading" data-id="3c454e14" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Career</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-41e7e781 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="41e7e781" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<ul class="elementor-icon-list-items">
												<li class="elementor-icon-list-item">
													<a href="careers/dog-walker-jobs/index.html">

														<span class="elementor-icon-list-text">Dog walker</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="careers/host-family-opportunities/index.html">

														<span class="elementor-icon-list-text">Home boarder</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="careers/pet-sitting-jobs/index.html">

														<span class="elementor-icon-list-text">Pet sitter</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="careers/house-sitting-jobs/index.html">

														<span class="elementor-icon-list-text">House sitter</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="careers/business-support-jobs/index.html">

														<span class="elementor-icon-list-text">Business support</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-21554b83" data-id="21554b83" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-31ae2018 elementor-widget elementor-widget-heading" data-id="31ae2018" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Legal</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-15e74316 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="15e74316" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<ul class="elementor-icon-list-items">
												<li class="elementor-icon-list-item">
													<a href="legal/terms/index.html">

														<span class="elementor-icon-list-text">Terms of business</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="legal/cookie-policy/index.html">

														<span class="elementor-icon-list-text">Cookie Policy</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="legal/terms-of-website-use/index.html">

														<span class="elementor-icon-list-text">Website terms of use</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="legal/website-disclaimer/index.html">

														<span class="elementor-icon-list-text">Website disclaimer</span>
													</a>
												</li>
												<li class="elementor-icon-list-item">
													<a href="legal/privacy-policy/index.html">

														<span class="elementor-icon-list-text">Privacy Policy</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<footer class="elementor-section elementor-top-section elementor-element elementor-element-55cb5a00 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="55cb5a00" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-no">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bd3154a" data-id="bd3154a" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-3fecd6ee elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="3fecd6ee" data-element_type="widget" data-widget_type="divider.default">
						<div class="elementor-widget-container">
							<div class="elementor-divider">
								<span class="elementor-divider-separator"></span>
							</div>
						</div>
					</div>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-797b3b92 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="797b3b92" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3c2e9e05" data-id="3c2e9e05" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-7b3e2343 elementor-widget elementor-widget-heading" data-id="7b3e2343" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<p class="elementor-heading-title elementor-size-default">© We Love Pets Ltd – Company Registered in England, UK (08651911), VAT – GB 280278788 We Love Pets Ltd., The Wherry, Quay St, Halesworth IP19 8ET</p>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-37161e1f" data-id="37161e1f" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-28d2778c e-grid-align-right e-grid-align-mobile-center elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="28d2778c" data-element_type="widget" data-widget_type="social-icons.default">
										<div class="elementor-widget-container">
											<div class="elementor-social-icons-wrapper elementor-grid">
												<span class="elementor-grid-item">
													<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-0267196" href="https://www.facebook.com/welovepetsinuk" target="_blank">
														<span class="elementor-screen-only">Facebook-f</span>
														<i class="fab fa-facebook-f"></i>
													</a>
												</span>
												<span class="elementor-grid-item">
													<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-76a5f5a" href="https://www.instagram.com/welovepets_uk/" target="_blank">
														<span class="elementor-screen-only">Instagram</span>
														<i class="fab fa-instagram"></i>
													</a>
												</span>
												<span class="elementor-grid-item">
													<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-dbaeb71" href="https://www.youtube.com/channel/UCIaQlBECVyRnv1yyNw2uhtA/featured" target="_blank">
														<span class="elementor-screen-only">Youtube</span>
														<i class="fab fa-youtube"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</footer>
</footer>